<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orrery Web App</title>
    <link rel="stylesheet" href="/public/styles.css">

</head>

<body>
    <div class="overlay"></div>
    <div class="container">
        <h1>Orrery Web App</h1>
        <p>Explore the wonders of the solar system</p>
        <a href="../solar-system3D/index.html"><button class="enter-button">Enter</button></a>
    </div>
</body>

</html>